@import url(stylenull.css);
body{
    width: 100%;
}
img{
    max-width: 100%;
}


.container{
    width: 70%;
    margin: 0 auto;
}

header{
    height: 67px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    .container{
        width: 70%;
        margin: 0 auto;
    }
    .block__row{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        display: inline-block;
        width: 40px;
        margin-top: 13px;
        transition: all 0.7s ease-in-out;
        transform: scale(1, 1);
        transform-origin: center;
    }
    .main__menu li{
        font-size: 17px;
        display: inline-block;
        margin-left: 20px;
        color: #CB0098;
        transition: all 0.7s ease-in-out;
        transform: scale(1, 1);
        transform: translate3D(0, 0, 0);
    }

}

.main__menu li:hover{
    color: #cb0058;
    transform: translate3D(0px, 5px, 20px) scale(1.2, 1.2);
    cursor: pointer;
}

.logo:hover{
    transform: scale(1.3, 1.3) rotate(130deg);
}


.service{
    position: relative;
    height: 681px;
    .main__text{
        position: relative;
        padding-top: 30px;
    }
    h1{
        font-size: 56px;
        color: #fff;
        margin-bottom: 30px;
    }

    p{
        line-height: 30px;
        color: #fff;
        font-size: 16px;
        padding: 15px 0;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    .btn{
        display: block;
        background: #cb0058;
        color: #fff;
        padding: 15px 10px;
        border-radius: 30px;
        position: absolute;
        font-weight: bold;
        margin-top: 20px;
        transition: all 0.7s ease-in-out;
        transform: scale(1, 1);
    }
}
.btn:hover{
    background-color: #CB0098;
    transform: scale(1.3, 1.3);
}

.service::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color: rgb(0, 0, 0), $alpha: .7);
    
}

.description{
    padding: 50px 0;
    h2{
        font-size: 46px;
        margin-bottom: 30px;
    }
    p{
        margin-bottom: 15px;
        font-size: 16px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        line-height: 30px;
    }
}


footer{
    padding: 26px;
    background-color: #f7f7f7;
    height: 70px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    .footer__row{
        display: flex;
        justify-content: space-between;
    }
    .main__menu li{
        font-size: 17px;
        display: inline-block;
        margin-left: 20px;
        color: #CB0098;
        transition: all 0.7s ease-in-out;
        transform: scale(1, 1);
    }
    .name{
        font-size: 17px;
        color: #cb0058;
        transform: scale(1, 1);
        transition: all 0.7s ease-in-out;
    }
}

.name:hover{
    transform: scale(1.3, 1.3);
    caret-color: #CB0098;
    cursor: pointer;
}