@import url(stylenull.css);
body{
    width: 100%;
}
img{
    max-width: 100%;
}


.container{
    width: 70%;
    margin: 0 auto;
}

header{
    height: 67px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    .container{
        width: 70%;
        margin: 0 auto;
    }
    .block__row{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        display: inline-block;
        width: 40px;
        margin-top: 13px;
        transition: all 0.7s ease-in-out;
        transform: scale(1, 1);
        transform-origin: center;
    }
    .main__menu li{
        font-size: 17px;
        display: inline-block;
        margin-left: 20px;
        color: #CB0098;
        transition: all 0.7s ease-in-out;
        transform: scale(1, 1);
        transform: translate3D(0, 0, 0);
    }

}

.main__menu li:hover{
    color: #cb0058;
    transform: translate3D(0px, 5px, 20px) scale(1.2, 1.2);
    cursor: pointer;
}

.logo:hover{
    transform: scale(1.3, 1.3) rotate(130deg);
}


.service{
    position: relative;
    min-height: 781px;
    .main__text{
        position: relative;
        padding-top: 30px;
    }
    h1{
        font-size: 56px;
        color: #fff;
        margin-bottom: 30px;
    }

    p{
        line-height: 30px;
        color: #fff;
        font-size: 16px;
        padding: 15px 0;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    .btn{
        display: block;
        background: #cb0058;
        color: #fff;
        padding: 15px 10px;
        border-radius: 30px;
        position: absolute;
        font-weight: bold;
        margin-top: 20px;
        transition: all 0.7s ease-in-out;
        transform: scale(1, 1);
    }
}
.btn:hover{
    background-color: #CB0098;
    transform: scale(1.3, 1.3);
}

.service::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color: rgb(0, 0, 0), $alpha: .7);
    
}

.description{
    padding: 50px 0;
    h2{
        font-size: 46px;
        margin-bottom: 30px;
    }
    p{
        margin-bottom: 15px;
        font-size: 16px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        line-height: 30px;
    }
}


footer{
    padding: 26px;
    background-color: #f7f7f7;
    height: 70px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    .footer__row{
        display: flex;
        justify-content: space-between;
    }
    .main__menu li{
        font-size: 17px;
        display: inline-block;
        margin-left: 20px;
        color: #CB0098;
        transition: all 0.7s ease-in-out;
        transform: scale(1, 1);
    }
    .name{
        font-size: 17px;
        color: #cb0058;
        transform: scale(1, 1);
        transition: all 0.7s ease-in-out;
    }
}

.name:hover{
    transform: scale(1.3, 1.3);
    caret-color: #CB0098;
    cursor: pointer;
}

//REGISTRATION FORM
//---------------------------------


.page__reg{
    min-height: calc(100vh - 130px);
    width: 70%;
    margin: 0 auto;
    .regestration__row{
        display: flex;
        justify-content: space-around;
    }
    .registration__content{
        margin-right: 25px;
        margin-top: 50px;
        max-width: 50%;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        h3{
            color: #CB0098;
            font-weight: 600;
            font-size: 23px;
            margin-bottom: 30px;
            transition: all 1.3s ease-in-out;
        }
        h5{
            color: #000;
            opacity: 0.5;
            margin-bottom: 30px;
            transition: all 1s ease-in-out;
            transform: scale(1, 1);

        }
        p{
            font-size: 16px;
            line-height: 30px;
        }
    }
}

.registration__content h5:hover{
    cursor: pointer;
    color: #cb0058;
}
.page__reg h3:hover{
    color: #000;
    opacity: 0.5;
}




form{
    background-color: #fff;
    border: 2px solid #cb0058;
    min-height: 500px;
    width: 400px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    .country{
        margin-bottom: 50px;
        font-weight: 600;
        margin-left: 15px;
        p{
            margin-bottom: 5px;
        }
    }
    .phone__number{
        margin-left: 15px;
        margin-bottom: 10px;
        p{
            font-weight: 600;
            margin-bottom: 5px;
        }
    }
    .same__border{
        border: 1px solid #CB0098;
        border-radius: 5px;
        padding-left: 5px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 13px;
        min-height: 30px;
        background-color: #f7f7f7;
    }
    .name__firstname{
        display: flex;
        justify-content: space-between;
        margin: 0 15px;
    }
    .gender{
        padding: 5px;
        margin: 15px;
        height: 60px;
        margin-top: 30px;
        p{
            margin-bottom: 5px;
            text-align: center;
            font-weight: 600;
        }   
        .gender__row{
            display: flex;
        }
        .gender__border{
            width: 50%;
            border: 1px solid #CB0098;
            border-radius: 30px;
            padding-left: 5px;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 13px;
            min-height: 30px;
            background-color: #fff;

        }
        .woman{
            margin-left: 15px;
            text-align: center;
            padding: 10px;
        }
        .man{
            text-align: center;
            padding: 10px;
        }
    }
    
    h2{
        font-size: 23px;
        font-weight: 700;
        text-align: center;
        color: #cb0058;
        padding: 18px 0;
    }
    .email{
        margin-left: 15px;
        margin-bottom: 10px;
        p{
            margin-bottom: 5px;
            font-weight: 600;  
        }
    }
    .btn__row{
        display: flex;
        justify-content: space-around;
    }
    .btn__form{
        display: inline-block;
        border: 1px solid #e90482;
        border-radius: 30px;
        padding: 15px;
        background-color: #f7f7f7;
        margin-bottom: 15px;
        transform: rotate(0);
        transition: all 0.5s ease-in-out;
        a{
            color: #000;
            font-weight: 600;
        }
    }
}

.btn__form:hover{
    background-color: #dba5e6d9;
    transform: rotate(10deg);
    cursor: pointer;
}
